body {
	background-color: black;
	color: white;
	}
h1 {
	font-size: 20px;
}
p {
	color: rgb(115, 134, 120);
	font-size: 12px;
}
.rajat {
	border-style: dotted;
	border-width: 2px;
	height: 100px;
	width: 100px;
	}
	
